<footer class="footer">
  <div class="social-media">
    <a href="https://www.facebook.com/share/1EQ1hWkimG/?mibextid=wwXIfr"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
    <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fa-solid fa-envelope fa-2x"></i></a>
  </div>
  <hr />
  <p>&copy; <%= new Date().getFullYear() %> Mind Accelerator Program. All rights reserved.</p>
</footer>
