<footer class="footer">
    <div class="social-media">
        <i class="fa-brands fa-facebook fa-2x"></i>
        <i class="fa-brands fa-whatsapp fa-2x"></i>
        <i class="fa-brands fa-x-twitter fa-2x"></i>
        <i class="fa-brands fa-instagram fa-2x"></i>
        <i class="fa-brands fa-telegram fa-2x"></i>
    </div>
    <hr>
    <p>&copy; 2025 Mind Accelerator Program. All rights reserved.</p>
  </footer>