<nav class="navbar">
    <div class="logo-wrapper">
        <img src="logo.png" class="header-logo" alt="">
    </div>
    <ul class="nav-list">
        <li class="nav-link"><a href="#about-section">About Us</a></li>
        <li class="nav-link"><a href="#features-section">Rewards</a></li>
        <li class="nav-link"><a href="#instructors-section">Our Facilitators</a></li>
        <li class="nav-link"><a href="#testimonials-section">Testimonials</a></li>
        <li class="nav-link"><a href="#faq-section">FAQs</a></li>
        <li class="nav-link"><a href="#contact-section">Contact Us</a></li>
        <a href="https://forms.gle/5RBioczWjpnqVkyP9" class="btn btn-action">Register Now</a>
    </ul>
</nav>