<nav class="navbar">
    <div class="logo-wrapper">
        <img src="logo.png" class="header-logo" alt="">
    </div>
    <ul class="nav-list">
        <li class="nav-link"><a href="#features-section">Benefits</a></li>
        <li class="nav-link"><a href="#about-section">About Us</a></li>
        <li class="nav-link"><a href="#testimonials-section">testimonials</a></li>
        <li class="nav-link"><a href="#contact-section">Contact Us</a></li>
        <li class="nav-link"><a href="#instructors-section">Our Innstructors</a></li>
        <button class="btn btn-action">Register Now</button>
    </ul>
</nav>