<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Explore the world of MAP – your gateway to innovation and creativity." />

  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="css/all.min.css" />
</head>

<body>
  <%- include ('./partials/navbar') %>
    <section class="hero-section">
      <div class="content">
        <h1>
          Are you dissatisfied with the way you get results in life or you want
          more to life than you already have?
        </h1>
        <hr />
        <p>
          Join us in this life changing program to help transform the way you
          think and produce more satisfactory results.
        </p>
        <a href="https://forms.gle/5RBioczWjpnqVkyP9" class="btn btn-action">Register Now</a>
      </div>
      <div class="hero-void"></div>
    </section>

    <section id="about-section" class="about-section">
      <div class="img-wrapper"></div>
      <div class="content-wrapper">
        <h1>About Us</h1>
        <hr />
        <div class="description">
          <p>
            Mind Accelerator Program also known as MAP is a program designed to
            help people, young adults especially, realize the inherent power
            they possess and harness this power. The organizers of this program
            believe that the first step in Human Empowerment is to teach them
            “How to think”, give necessary information and allow them to come to
            self-realization about what they possess and how to use it to become
            who they were designed to be even before time began.
          </p>
          <p>
            This program exposes fundamental and foundational information
            already known to man but hidden from the eyes of many. The beautiful
            thing about these information is that they are infinitely divisible.
            If you have them, that can help you to be more effective in your
            life and if it is shared, everyone is enriched.
          </p>
          <p>
            The program amongst other programs deliberately aims to support
            people to become the best version of themselves.
          </p>
        </div>
      </div>
    </section>

    <section id="features-section" class="features-section">
      <h1>What you stand to gain with MAP</h1>
      <hr />
      <ul class="benefit-list">
        <li class="benefit">
          <div>
            <i class="fa-solid fa-brain fa-3x"></i>
            <h4>Enhanced Critical Thinking</h4>
            <p>
              Participants learn to think independently and make informed
              decisions
            </p>
          </div>
        </li>
        <li class="benefit">
          <div>
            <i class="fa-solid fa-seedling fa-3x"></i>
            <h4>Personal Evolution</h4>
            <p>
              The program helps individuals recognize and harness their unique
              abilities
            </p>
          </div>
        </li>
        <li class="benefit">
          <div>
            <i class="fa-solid fa-handshake fa-3x"></i>
            <h4>Community Growth</h4>
            <p>
              Shared knowledge enriches both the individual and those around
              them, creating a ripple effect of positive change
            </p>
          </div>
        </li>
      </ul>
    </section>

    <section id="instructors-section" class="instructors-section">
      <h1>Meet Our Facilitators</h1>
      <hr />

      <div class="instructors-container">
        <div class="instructor-card">
          <img src="../images/tammy.jpeg" alt="Instructor 1" />
          <h3><a href="#">Amchree Tamuno-Imiete</a></h3>
          <p>A young Nigerian professional passionate about helping others achieve their full potential. I believe in
            the power of knowledge sharing and strive to make a positive impact through my work, whether I'm guiding
            individuals on their personal journey, helping businesses thrive, or sharing insights through speaking and
            writing. </p>
        </div>
        <div class="instructor-card">
          <img src="../images/alagha.jpeg" alt="Instructor 2" />
          <h3><a href="#">Alagha Mikael</a></h3>
          <p>
            a passionate public speaker and mentor, dedicated to encouraging and teaching others. With a wealth of
            experience in exploring the world and sharing knowledge, Mikeal is committed to inspiring and empowering
            those around him.
          </p>
        </div>
        <div class="instructor-card">
          <img src="../images/precious.jpeg" alt="Instructor 2" />
          <h3><a href="#">George Progress Ugo </a></h3>
          <p>
            a multifaceted professional with expertise in Instrumentation Engineering and Cinematography. With a unique
            blend of technical and creative skills, I excel in designing efficient control systems and capturing
            stunning visuals.

          </p>
        </div>

    </section>

    <!-- <section id="testimonials-section" class="testimonials-section">
      <h1>What People Are Saying About MAP</h1>
      <hr />
      <div class="testimonials-container">
        <div class="testimonial">
          <div class="badge">
            <i class="fa-solid fa-quote-left fa-3x"></i>
          </div>
          <img src="guy1.jpg" alt="" />
          <p>
            "MAP completely changed my perspective on thinking and
            decision-making. I feel more in control of my life!"
          </p>
          <span class="author">— Alex R., Program Participant</span>
        </div>
        <div class="testimonial">
          <div class="badge">
            <i class="fa-solid fa-quote-left fa-3x"></i>
          </div>
          <img src="girl2.jpg" alt="" />
          <p>
            "This program helped me unlock a level of self-awareness I never
            thought possible. Truly life-changing!"
          </p>
          <span class="author">— Sophia M., Entrepreneur</span>
        </div>
        <div class="testimonial">
          <div class="badge">
            <i class="fa-solid fa-quote-left fa-3x"></i>
          </div>
          <img src="guy2.jpg" alt="" />
          <p>
            "I now understand the power of my mind and how to use it
            effectively. MAP is a must for anyone seeking growth!"
          </p>
          <span class="author">— David K., Student</span>
        </div>
        <div class="testimonial">
          <div class="badge">
            <i class="fa-solid fa-quote-left fa-3x"></i>
          </div>
          <img src="girl1.jpg" alt="" />
          <p>
            "The insights I gained from MAP have helped me in both my personal
            and professional life. Highly recommended!"
          </p>
          <span class="author">— Lisa T., Business Consultant</span>
        </div>
      </div>
    </section> -->

    <section class="faq-section" id="faq-section">
      <h1>Frequently Asked Questions</h1>
      <div class="hr-wrapper">
        <hr />
      </div>
      <div class="faq-container">
        <div class="faq-item">
          <button class="faq-question">
            What is the Mind Accelerator Program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              The Mind Accelerator Program is designed to support early-stage startups focused on thoughts innovations,
              financial literacy, personal and professional development. It provides participants with mentorship,
              education, and resources to rapidly build themselves, make impact, contribute value and scale their
              earnings.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            Who is eligible to apply for the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              The program is open to everyone but focused more on young people of the age (15years to 35years)
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            How long is the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              The program typically would hold twice a week for twelve (12) weeks making it a total of 24days.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            What are the key benefits of participating in the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              Participants will learn how to harness the power of the mind, how to turn your income regardless the
              amount into wealth, how to save, invest, grow personally and professionally. Furthermore, have access to a
              supportive community and receive frequent tips on getting better with their lives.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            What are the key benefits of paying to get the certificate after the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              Participants receive mentorship from the coaches, access to a supportive community, becoming ambassadors
              of the program and have full access to every material used for the program and subsequent programs (Terms
              & Conditions apply). Also, have a chance to compete for a competition that gives financial reward to 3
              winners.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            What are the key focus areas of the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              The program prioritizes serious mental growth & productivity, Finance and wealth creation, personal and
              professional development.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            How can I apply to the Mind Accelerator Program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              Interested applicants can submit their information through the program's official website.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            What kind of support do participants receive after the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              Participants become part of an alumni network that offers year-round support, including continued access
              to growth tips, networking opportunities, and access to a supportive community.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            What are the key focus areas of the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              The program prioritizes serious mental growth & productivity, Finance and wealth creation, personal and
              professional development.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            Are there any costs associated with the program?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              Registration & participation is free. However, there’s a cost which covers for Certificate and Access to
              resources and other benefits
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-question">
            How can I get involved with the Mind Accelerator Program as a sponsor or service provider?
            <span class="faq-toggle">+</span>
          </button>
          <div class="faq-answer">
            <p>
              Potential sponsors and service providers can contact us via email (mapwebinar@gmail.com) to offer their
              support and services to participants.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact-section" class="contact-section">
      <h1>Contact Us to Make An Enquiry</h1>
      <hr />
      <div class="form-wrapper">
        <div class="contact-form" id="enquiry-form">
          <h4>Make Your Enquiry</h4>
          <p>Get all the information you want</p>
          <input type="text" name="username" id="" placeholder="Fullname" />
          <input type="email" name="email" id="" placeholder="Email" />
          <textarea name="message" id="" rows="3" placeholder="Type your message here..."></textarea>
          <button class="btn">Submit</button>
        </div>
        <div class="contact-form" id="appointment-form">
          <h4>Book a Session</h4>
          <p>Book a personal 45mins session with a Coach</p>
          <input type="text" name="username" id="" placeholder="Fullname" />
          <input type="email" name="email" id="" placeholder="Email" />
          <textarea name="message" id="" rows="3" placeholder="Type your message here..."></textarea>
          <button class="btn">Submit</button>
        </div>
      </div>
    </section>

    <section class="map-team-section" id="map-team-section">
      <h1>Meet The Map Team</h1>
      <hr />

      <div class="carousel-container">
        <button class="prev-btn">&#10094;</button>
        <!-- Previous Button -->

        <div class="carousel">
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/tammy.jpeg" alt="Instructor 1" />
              <h3><a href="#">Amchree Tamuno-Imiete</a></h3>
              <p class="title">Program Manager/ Director</p>
              <div class="social-media">
                <a href="https://www.facebook.com/share/1DDnLyhMr7/?mibextid=wwXIfr"><i
                    class="fa-brands fa-facebook"></i></a>
                <a href="https://x.com/chief_tams?s=11"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/chief_tams?igsh=a3FvMGozOXhmaHgx&utm_source=qr"><i
                    class="fa-brands fa-instagram"></i></a>
                <a
                  href="https://www.linkedin.com/in/tamuno-imiete-amachree-155b7931b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i
                    class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="description">
              <p>
                Personal Coach (Life), Public Speaker, Writer, Teacher, Data Analyst, Business Analyst, Product Manager,
                Agile/Scrum Master, IT Specialist, Cybersecurity
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/gift.jpeg " alt="Instructor 1" />
              <h3><a href="#">Orisa Gift Chinonso</a></h3>
              <p class="title">Instructional Designer</p>
              <div class="social-media">
                <a href="https://www.facebook.com/share/14tQ7REn3Y/?mibextid=LQQJ4d"><i
                    class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/gift_orisa?igsh=ejhtYXJmeW4ybno1&utm_source=qr"><i
                    class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
            <div class="description">
              <p>
                Multimedia Development Manager, Graphic Designer/Social Media Manager, Copywriter/Editor
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/D_S.jpeg" alt="Instructor 1" />
              <h3><a href="#">Deekor Fortune</a></h3>
              <p class="title">Frontend/Backend Developer</p>
              <div class="social-media">
                <a href="https://web.facebook.com/cietus.cletus"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://x.com/fortune_deekor"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/fortune_deekor/"><i class="fa-brands fa-instagram"></i></a>
                <a href="http://www.linkedin.com/in/fortune-deekor-055111349"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="description">
              <p>
                Website Developer, Frontend Developer, Backend Developer
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/precious.jpeg" alt="Instructor 1" />
              <h3><a href="#">George Progress Ugo </a></h3>
              <p class="title">Subject Matter Expert on Financial Market Literacy and Training </p>
              <div class="social-media">
              </div>
            </div>
            <div class="description">
              <p>
                Financial Market Trader/Trainer, Instrumentation Engineer, Cinematographer
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/smith.jpg" alt="Instructor 1" />
              <h3><a href="#">Smith Joseph</a></h3>
              <p class="title">Data Evaluator</p>
              <div class="social-media">
              </div>
            </div>
            <div class="description">
              <p>
                CEO JOGE Modeling Agency, Social Media Analyst, IT Consultant, Professional Photographer
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/george.jpeg" alt="Instructor 1" />
              <h3><a href="#">Gbeneenye Neeka George</a></h3>
              <p class="title">Graphic Designer/ Social Media Manager</p>
              <div class="social-media">
                <a href="https://www.instagram.com/klassiq_graphix?utm_source=qr&igsh=MzNlNGNkZWQ4Mg%3D%3D"><i
                    class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
            <div class="description">
              <p>
                Design Visually appealing materials such as course banners, presentations, and social media posts.
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/prince.jpeg" alt="Instructor 1" />
              <h3><a href="#">Osaro Prince Gomba</a></h3>
              <p class="title">Multimedia Development Manager</p>
              <div class="social-media">
                <a href="https://www.instagram.com/theprinceosaro/"><i class="fa-brands fa-instagram"></i></a>
                <a
                  href="https://www.linkedin.com/in/prince-osaro-898a57324?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                    class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
            <div class="description">
              <p>
                Illustrator
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/cookey.jpeg" alt="Instructor 1" />
              <h3><a href="#">Benjamin Priestwillieth Cookey</a></h3>
              <p class="title">Copywriter/Editor</p>
              <div class="social-media">
              </div>
            </div>
            <div class="description">
              <p>
                Entrepreneur (Bigpriest Market), Pastor (TEN Institute), atographer
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/mike.jpg" alt="Instructor 1" />
              <h3><a href="#">Barile Michael Tambari</a></h3>
              <p class="title">Outreach Coordinator</p>
              <div class="social-media">
              </div>
            </div>
            <div class="description">
              <p>Businessman, Data Entry Specialist, Chef, Powerpoint Instructor
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/dan.jpg" alt="Instructor 1" />
              <h3><a href="#">Baniviga Dan</a></h3>
              <p class="title">Program Coordinator</p>
              <div class="social-media">
              </div>
            </div>
            <div class="description">
              <p>
                Python Programmer, Web Developer, Agro-Engineer
              </p>
            </div>
          </div>
          <div class="facilitator-card">
            <div class="details">
              <img src="../images/gospel.jpeg" alt="Instructor 1" />
              <h3><a href="#">Udochi Chimezie Gospel</a></h3>
              <p class="title">Media Manager</p>
              <div class="social-media">
              </div>
            </div>
            <div class="description">
              <p>
                Cinematography, Professional Videography and Photography
              </p>
            </div>
          </div>
        </div>

        <button class="next-btn">&#10095;</button>
        <!-- Next Button -->
      </div>
    </section>

    <section class="partners-section" id="partners-section">
      <div class="container">
        <h1>Our Partners</h1>
        <hr>
        <div class="partners-grid">
            <div class="partner">
              <img src="URNI-logo.jpg" alt="">
                <h3>Unveiling and Re-branding Nigeria Initiative <br> (URNI)</h3>
                <div class="social-links">
                    <a href="https://www.facebook.com/share/199oKDM7vE/?mibextid=wwXIfr" target="_blank" class="facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/unveilingnigeria?igsh=MW15dTZsd3dpMnlzag==" target="_blank" class="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://x.com/unveilingng?s=11" target="_blank" class="twitter">
                        <i class="fab fa-x-twitter"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    </section>
    <%- include ('partials/footer') %>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const menuToggle = document.getElementById("menu-toggle");
          const navDrawer = document.getElementById("nav-drawer");
          const closeBtn = document.getElementById("close-btn");
          const overlay = document.getElementById("overlay");

          // Open Drawer
          menuToggle.addEventListener("click", () => {
            navDrawer.classList.add("show");
            overlay.classList.add("show");
          });

          // Close Drawer
          closeBtn.addEventListener("click", () => {
            navDrawer.classList.remove("show");
            overlay.classList.remove("show");
          });

          // Close when clicking outside
          overlay.addEventListener("click", () => {
            navDrawer.classList.remove("show");
            overlay.classList.remove("show");
          });
        });

        document.querySelectorAll(".faq-question").forEach((button) => {
          button.addEventListener("click", () => {
            const faqItem = button.parentElement;
            const answer = faqItem.querySelector(".faq-answer");
            const toggleSign = button.querySelector(".faq-toggle");

            const isOpen = faqItem.classList.contains("active");

            // Close all open FAQs
            document.querySelectorAll(".faq-item").forEach((item) => {
              item.classList.remove("active");
              item.querySelector(".faq-answer").style.maxHeight = null;
              item.querySelector(".faq-toggle").textContent = "+";
            });

            // Open the clicked FAQ
            if (!isOpen) {
              faqItem.classList.add("active");
              answer.style.maxHeight = answer.scrollHeight + "px";
              toggleSign.textContent = "−";
            }
          });
        });

        const carousel = document.querySelector(".carousel");
        const prevBtn = document.querySelector(".prev-btn");
        const nextBtn = document.querySelector(".next-btn");
        const instructorCards = document.querySelectorAll(".facilitator-card");

        let index = 0;
        const totalSlides = instructorCards.length;

        function showSlide(newIndex) {
          if (newIndex < 0) {
            index = totalSlides - 1; // Go to last instructor
          } else if (newIndex >= totalSlides) {
            index = 0; // Go to first instructor
          } else {
            index = newIndex;
          }

          const offset = -index * 100; // Moves the carousel
          carousel.style.transform = `translateX(${offset}%)`;
        }

        // Event Listeners for Buttons
        prevBtn.addEventListener("click", () => showSlide(index - 1));
        nextBtn.addEventListener("click", () => showSlide(index + 1));

        // Auto Slide Every 3 Seconds
        setInterval(() => showSlide(index + 1), 10000);

        const enquiryForm = document.querySelector("#enquiry-form")
        const appointmentForm = document.querySelector("#appointment-form")

        appointmentForm.querySelector("button").disabled = true

        enquiryForm.querySelector("button").addEventListener("click", async (e) => {
          const email = enquiryForm.querySelector("[name=email]").value
          const fullname = enquiryForm.querySelector("[name=username]").value
          const message = enquiryForm.querySelector("[name=message]").value
          console.log(email, fullname, message)

          if (!email || !fullname || !message) {
            return alert("invalid data")
          }

          const resp = await fetch("/api/v1/message", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, fullname, message})
          })

          const data = await resp.json()

          console.log(data.message)
        })

        appointmentForm.querySelector("button").addEventListener("click", async (e) => {
          const email = appointmentForm.querySelector("[name=email]").value
          const fullname = appointmentForm.querySelector("[name=username]").value
          const message = appointmentForm.querySelector("[name=message]").value
          console.log(email, fullname, message)

          if (!email || !fullname || !message) {
            return alert("invalid data")
          }

          const resp = await fetch("/api/v1/instructor/book", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, fullname, message})
          })

          const data = await resp.json()

          console.log(data.message)
        })
      </script>
</body>

</html>